.seeker {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.seeker * {
  margin: 0;
  padding: 0;
}

.seeker-home {
  height: 83vh;
  width: 85%;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seeker-home > * {
  height: 100%;
  border: thin solid black;
}

.seeker-home > div {
    width: 30%;
}
