.interview-detail {
  background-color: var(--secondary);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.interview-detail {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.interview-detail * {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.interview-detail p {
  margin: 0;
}

.interview-detail > * {
  height: 100%;
  padding-left: 0.3%;
  padding-right: 0.3%;
}

#seeker-detail-1 {
  width: 15%;
  background-color: var(--primary);
}

#seeker-detail-1 > * {
  width: 100%;
  border: thin solid var(--secondary);
}

.seeker-detail-question-card {
  height: 6%;
  margin-bottom: 3%;
  margin-top: 3%;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
}

.seeker-detail-question-card-selected {
  color: var(--primary);
  background-color: var(--third);
}

#seeker-detail-2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#seeker-detail-2 > * {
  width: 100%;
}

#seeker-detail-2 > h3 {
  height: 7%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#seeker-detail-2 > div {
  height: 94%;
  overflow-y: scroll;
}

#seeker-detail-2-cont > * {
  width: 100%;
  margin-bottom: 3%;
}

#seeker-detail-2-cont > p {
  height: max-content;
  text-align: left;
}

#seeker-detail-2-cont > div > h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary);
}

#seeker-detail-2-cont > div {
  width: 100%;
  margin-top: 3vh;
  border-top: thin solid lightgrey;
}

#seeker-detail-2-cont > div > * {
  margin-top: 2vh;
}

#seeker-detail-3 {
  width: 50%;
  border-left: thin solid var(--five);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#seeker-detail-3 > * {
  width: 100%;
}

#seeker-detail-3-header {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}

#seeker-detail-3-header > h3 {
  font-weight: lighter;
  font-size: 1.5rem;
}

#seeker-detail-3-header > button {
  font-size: 1rem;
  height: 90%;
  width: 17%;
  border: thin solid var(--four);
  background-color: var(--four);
  color: var(--primary);
  border-radius: 4px;
}
