.seeker-search {
  width: 100%;
  height: 7vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#seeker-search-cont {
  width: 85%;
  border: thin solid black;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
