
/* Section 2 */

.seeker-ss2-cont1 {
    width: 100%;
    /* border: thin solid black; */
    display: grid;
    row-gap: 2vh;
    column-gap: 1vw;
    grid-template-columns: repeat(9, 1fr);
  }

  .seeker-ss2-cont1 > * {
    height: 6vh;
    border: thin solid var(--primary);
    font-size: 1rem;
    border-radius: 4px;
    background-color: transparent;
  }

  .selected_skill_item {
    border: thin solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
  }
