.seeker-header {
  width: 100%;
  height: 10vh;
  background-color: var(--primary);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.seeker-h-cont {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seeker-logo {
  font-size: 3rem;
  color: white;
}

.seeker-logo:hover {
  color: white;
}

#seeker-header-info {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seeker-h-cont > span > a {
  padding-left: 1vw;
  padding-right: 1vw;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.seeker-h-cont > span > a > :first-child {
  margin-right: 0.5vw;
  font-size: 1.2rem;
}

#seeker-profile {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#seeker-settings-link {
  font-size: 1.2rem;
}

.seeker-profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#seeker-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border-left: thin solid white;
}
