.seeker-ss-conts-header {
  border-top: thin solid var(--five);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.seeker-ss-conts-header > * {
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
}

.seeker-ss-conts-header > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
}

.seeker-ss-conts-header > p {
  font-size: 1rem;
  color: var(--five);
}
