footer {
  width: 100%;
  height: 10vh;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
}

footer > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  color: var(--second);
}
