#code-editor-head {
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#code-editor-head > p {
  font-size: 1.2rem;
}

#code-editor-head > span {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#code-editor-head > span > select {
  height: 100%;
  font-size: 1rem;
  width: 40%;
  color: var(--primary);
  border: thin solid var(--primary);
  background-color: transparent;
  border-radius: 4px;
}

#code-editor-head > span > select:focus {
  outline: none;
}

#code-editor-head option {
  font-size: 1rem;
}

#code-editor-output {
  padding-top: 1%;
  height: 40%;
}

#code-editor-output > button {
  width: 15%;
  font-size: 1rem;
  height: 15%;
  border-radius: 4px;
  background-color: var(--four);
  border: thin solid var(--four);
  color: var(--primary);
}
