@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Mulish", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --primary: #2e3c4d;
  --secondary: #edf4f8;
  --third: #fefffe;
  --four: #22a752;
  --five: grey;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
  /* text-align: center; */
  /* border: thin solid; */
  /* font-size: 1.2rem; */
}

select {
  border: thin solid none;
}

button {
  border: thin solid;
  font-size: 1.2rem;
}

option {
  border: thin solid grey;
}

select:focus {
  outline: thin solid gray;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

textarea {
  border: thin solid gray;
}

textarea:focus {
  outline: thin solid gray;
}
